.ajuda-container {
  padding: 0 1.5rem;
  line-height: 1.6;
  margin-bottom: 0.5rem;
}

.ajuda-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 0.5rem; /* espaço entre alias e descrição */
}

.ajuda-aliases {
  color: #00ff9d;
  font-size: 1.2rem;
  flex-wrap: nowrap;
}

.ajuda-aliases-symbol {
  margin-right: 1ch;
}

.ajuda-description {
  margin: 0;
  color: #a0aec0;
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .ajuda-aliases {
    font-size: 1rem;
  }

  .ajuda-description {
    font-size: 0.7rem;
  }
}

@media (max-width: 480px) {
  .ajuda-aliases {
    font-size: 0.9rem;
  }

  .ajuda-description {
    font-size: 0.6rem;
  }
}

