.switcherContainer {
  position: absolute;
  top: 18px;
  right: 20px;
  z-index: 10;
  display: flex;
  gap: 12px;
  align-items: center;
  color: #a0aec0;
}

.icon {
  cursor: pointer;
  font-size: 24px;
  transition: color 0.3s ease, transform 0.3s ease;
  color: #a0aec0;
}

.langText {
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.active {
  color: #00ff9d;
  transform: scale(1.1);
}
